.add {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 60%;
  z-index: 10;
  position: fixed;
  left: 20%;
  top: 5rem;
  align-items: center;
  text-align: center;
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.add ul {
  display: flex;
  list-style: none;

  justify-content: center;
}
.add li {
  margin-top: 1rem;
  margin-right: 1rem;
}
