.item {
  border: 3px rgb(98, 126, 62) solid;
  background-color: rgb(218, 255, 170);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: auto;
  padding: 3rem;
  margin: 0.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.item img {
  width: 15rem;
  max-height: 15rem;

  object-fit: cover;
}

.item button {
  background-color: rgb(18, 211, 0);
  border-color: rgb(5, 97, 2);
}
